<% if(formError){ %>
    <p class="error">Please fill all the fields</p>
    <% } %>
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="<%= title %>" placeholder="Note title">
        <label for="content">Body</label>
        <textarea name="content" role="textbox" id="content" placeholder="Body" cols="30" rows="10"><%= content %></textarea>