<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap" rel="stylesheet">
    <script src="index.js" defer></script>
    <title>My Notes</title>
</head>

<body>
    <header>
        <%- include('./partials/nav') %>
            <h1>My Notes</h1>
    </header>
    <div class="container">
        <div>
            <ol class="todos">
                <% if(notes.length){ %>
                    <% notes.forEach(note=> { %>
                        <li class="todo">
                            <h2>
                                <%= note.title %>
                            </h2>
                            <%=note.content.slice(0,70)%> ...
                                <a href="/note/<%=note.id %>">View More</a>
                        </li>
                        <% })}  else {%>
                            <p>No notes</p>
                            <%}%>
            </ol>
        </div>
    </div>
</body>

</html>