<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Notes App | Update note</title>
</head>

<body>
    <header>
        <h1>Update note</h1>
        <%- include('./partials/nav') %>
    </header>
    <div class="container">
        <div class="new">
            <form action="/note/update/<%=id %> " method="post">
                <%- include('./partials/form.ejs') %>
                    <button type="submit">Update</button>
            </form>
        </div>
    </div>

</body>

</html>